.document-body {
  width: 100%;
  overflow-wrap: anywhere;
  max-height: 513px;
  overflow-y: scroll;
  padding-right: 16px;
}

.document-card {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
