<mat-list>
  <mat-list-item role="listitem">
    <button
      mat-flat-button
      class="pos-button"
      color="warn"
      (click)="addFilterCard('ADJ')"
    >
      AGGETTIVO
    </button>
  </mat-list-item>

  <mat-list-item>
    <button
      mat-flat-button
      class="pos-button"
      color="warn"
      (click)="addFilterCard('NUM')"
    >
      NUMERALE
    </button>
  </mat-list-item>

  <mat-list-item>
    <button
      mat-flat-button
      class="pos-button"
      color="warn"
      (click)="addFilterCard('VERB')"
    >
      VERBO
    </button>
  </mat-list-item>
  <mat-list-item>
    <button
      mat-flat-button
      class="pos-button"
      color="warn"
      (click)="addFilterCard('NOUN')"
    >
      NOME
    </button>
  </mat-list-item>

  <mat-list-item>
    <button
      mat-flat-button
      class="pos-button"
      color="warn"
      (click)="addFilterCard('PROPN')"
    >
      NOME PROPRIO
    </button>
  </mat-list-item>

  <mat-list-item>
    <button
      mat-flat-button
      class="pos-button"
      color="warn"
      (click)="addFilterCard('PRON')"
    >
      PRONOME
    </button>
  </mat-list-item>

  <mat-list-item>
    <button
      mat-flat-button
      class="pos-button"
      color="warn"
      (click)="addFilterCard('PREPOSIZIONE')"
    >
      PREPOSIZIONE
    </button>
  </mat-list-item>

  <mat-list-item>
    <button
      mat-flat-button
      class="pos-button"
      color="warn"
      (click)="addFilterCard('DET')"
    >
      ARTICOLO
    </button>
  </mat-list-item>

  <mat-list-item>
    <button
      mat-flat-button
      class="pos-button sentence-button"
      color="warn"
      (click)="addFilterCard('SENTENCE')"
    >
      FRASE
    </button>
  </mat-list-item>
  <mat-list-item>
    <button
      mat-flat-button
      class="pos-button"
      color="warn"
      (click)="addFilterCard('SEQUENCE')"
    >
      SEQUENZA
    </button>
  </mat-list-item>
</mat-list>
